@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        outline: none !important;
    }

    [type=text],
    [type=email],
    [type=url],
    [type=password],
    [type=number],
    [type=date],
    [type=datetime-local],
    [type=month],
    [type=search],
    [type=tel],
    [type=time],
    [type=week],
    [multiple],
    textarea,
    select {
        @apply border hover:border-gray-900 focus:border-gray-900 w-full rounded hover:ring-0 focus:ring-0;
    }

    [type=checkbox] {
        @apply rounded focus:ring-0;
    }

    .btn {
        @apply text-white bg-gray-700 border py-2 px-3 rounded uppercase font-medium relative;
    }
}

.toasted-container .toasted {
    display: block !important;
    min-height: 0 !important;
    padding: 8px 20px 10px !important;
    line-height: 1.5 !important;
    text-align: center;
}
@screen sm {
    .toasted-container .toasted {
        border-radius: 0.25rem !important;
    }
}
.toasted-container.top-center {
    top: 0 !important;
}
.toasted-container a[href] {
    @apply font-bold underline hover:no-underline;
}
.toasted .primary.error, .toasted.toasted-primary.error {
    background-color: #b81c23 !important;
}
.toasted .primary.success, .toasted.toasted-primary.success {
    background-color: #8fae1b !important;
}
